@import "compass";

.menu {
	background-image: url(../img/bg.gif);
	background-position: top;
	background-repeat: no-repeat;
	height: 30px;
	list-style-type: none;
	padding: 15px;
	position: relative;
	width: 421px;

	li {
		float: left;
	}

	.back {
		@include border-radius(6px);
		background-image: url(../img/lava.gif);
		background-repeat: no-repeat;
		display: block;
		height: 29px;
		position: absolute;
		width: 62px;
		z-index: 1;
	}

	a {
		color: #fff;
		display: block;
		float: left;
		font-family: sans-serif;
		font-size: 15px;
		font-weight: bold;
		margin: auto 14px;
		padding: 6px 0;
		position: relative;
		text-decoration: none;
		z-index: 8;
	}
}